* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "StudioPro", sans-serif;
    color: #495057;
    /* overflow-x: hidden; */
}

.top {
    background-color: black;
    width: auto;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    font-size: 1.7rem;
    color: #fff;
    letter-spacing: 0.1rem;
}

header {
    margin: 2rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 10rem;
}

nav a {
    margin: 0 2rem;
    color: #495057;
    font-size: 1.6rem;
    text-decoration: none;
    letter-spacing: 0;
}

nav a span svg {
    width: 1.5rem;
}

button {
    background-color: #009e74;
    color: #fff;
    border: 0;
    border-radius: 0.5rem;
    padding: 1.3rem 0.2rem;
}

button a {
    color: #fff;
}

.btn-mobile-nav {
    border: none;
    background: none;
    color: black;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 3.2rem;
    width: 3.2rem;
    color: black;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}


section {
    height: 20rem;
    margin: auto 10rem;
    height: 100vh;
    display: flex;
}

.left-section {
    margin-top: 8rem;
    height: 50rem;
    width: 50rem;
}

h1 {
    font-size: 4.5rem;
    color: #343a40;
}

.left-section p {
    margin-top: 3rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

.left-section button {
    padding: 1.3rem 2.5rem;
    font-size: 1.7rem;
    margin-top: 4rem;
}

.left-section .bad {
    background-color: #fff;
    color: #495057;
    margin-left: 2.5rem;
    border: 1px solid #ced4da;
}

.right-section {
    height: 50rem;
    width: 0;
    display: flex;
    position: relative;
    margin-left: 2rem;
}


/* .right-section img {
    
} */

.right-section .phone {
    position: absolute;
    top: 11rem;
    left: -6rem;
    width: 25rem;
}

.second-section {
    display: block;
    height: 40vh;
}

.second-section h5 {
 display: block;
 font-size: 1.7rem;
 margin-bottom: 2rem;
}

.second-section img {
    height: 3rem;
    margin-right: 5rem;
}

.third-section {
    display: grid;
    grid-template-columns: 30rem 76.3rem;
    height: 120vh;
    overflow: hidden;
}

h2 {
    font-size: 3.5rem;
    color: black;
}

h6 {
    font-size: 1.7rem;
    color: #009e74;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

svg {
    width: 1.2rem;
}

.explore ul {
    margin-top: 10rem;
}

.explore ul li {
    list-style-type: circle;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
    font-weight: 600;
}

.identity {
    background-color: #f4f6f8;
    border-radius: 2rem;
    padding-right: 12rem;
}

h4 {
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 600;
    padding-left: 11rem;
}

.identity h2 {
    padding-left: 11rem;
    margin-top: 2rem;
}

.identity p {
    margin-top: 3rem;
    padding-left: 11rem;
}

.identity button {
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1.5rem 3rem;
    margin-left: 11rem; 
    margin-bottom: 1rem;
}

hr {
    margin-left: 11rem;
    margin-top: 3rem;
    border: 0.1px solid #868e96;
}

.company {
    margin-top: 4rem;
    display: flex;
    /* width: inherit; */
}

.yellow-background {
    margin-top: 8rem;
    margin-left: 7rem;
    width: 63rem;
    height: 15.5rem;
    background-color: #f7d002;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
}

.yellow-background img{
    width: 34rem;
    margin-left: 0.4rem;
}

.yellow-background .slabs {
    position: absolute;
    width: 59rem;
    left: 2rem;
    top: -5rem;
}

.fourth-section {
    background-color: #f4f6f8;
    height: auto;
    width: 100%;
    margin-left: 0;
    margin-top: 10rem;
}

.hopb {
    margin-left: 12rem;
    width: 80%;
}

.fourth-section h2 {
    margin-top: 10rem;
    padding-bottom: 2rem;
}

.fourth-section p {
   padding-bottom: 5rem;
   line-height: 2rem;
   font-size: 1.7rem;
}

.fourth-section img {
   width: 6.5rem;
   padding-bottom: 5rem;
}

.fourth-section h6 {
    color: #54667f;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

.fourth-section h5 {
    color: black;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 550;
}

.grid-rows {
    background-color: #f4f6f8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.first-grid {
    background-color: white;
    padding: 5rem;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.8rem rgb(90 110 140 / 10%);
}

.first-grid p{
    letter-spacing: 0.1rem;
}

.fifth-section {
    background-color: #222c3b;
    width: 100%;
    height: 110vh;
    margin-left: 0;
    margin-top: 10rem;
}

.api {
    width: 30%;
    margin-left: 12rem;
    margin-top: 20rem;
}

.api h2 {
    color: #fff;
    padding-bottom: 3rem;
}

.api p {
    color: #fff;
    padding-bottom: 3rem;
    font-size: 2rem;
    line-height: 3rem;
}

.api button {
    font-size: 1.7rem;
    padding: 1.5rem 3rem;
}

.empty {
    margin-top: 7rem;
    margin-left: 10rem;
    width: 40%;
    height: 80%;
    border-radius: 1rem;
    background-color: #344053;
}

.empty p {
    padding: 5rem;
    line-height: 5rem;
    color: orangered;
}

.sixth-section {
    background-color: white;
    width: 100%;
    /* height: 110vh; */
    margin-left: 0;
    padding-top: 10rem;
    position: relative;
    height: 80vh;
}

.sixth-section .six {
    width: 50%;
    margin-left: 11rem;
}

.six h2 {
    margin-bottom: 3rem;
}

.six p {
    margin-bottom: 3rem;
    font-size: 2.1rem;
}

.six button {
    font-size: 1.7rem;
    padding: 1.5rem 3rem;
}

.sixth-section img {
    width: 5rem;
}

.sixth-section .kd {
    position: absolute;
    right: 45rem;
    width: 15rem;
    top: 13rem;
}

.sixth-section .zn {
    position: absolute;
    right: 30rem;
    width: 10rem;
    top: 4rem;
}

.sixth-section .ps {
    position: absolute;
    right: 60rem;
    width: 10rem;
    top: 0;
}

.sixth-section .fb {
    position: absolute;
    left: 50rem;
    width: 10rem;
    bottom: 0;
}

.sixth-section .gt {
    position: absolute;
    right: 30rem;
    width: 10rem;
    bottom: 5rem;
}

.seventh-section {
    background-color: #222c3b;
    width: 100%;
    margin-left: 0;
    height: 95vh;
    position: relative;
    display: block;
}

.seventh-section h1 {
    font-size: 6rem;
    margin-left: 40rem;
    color: #c0fc72;
    padding-top: 10rem;
}

.seventh-section .limg {
    width: 18rem;
    position: absolute;
    right: 0;
    top: 0;
}

.seventh-section hr {
    width: 80%;
    border: 0.1rem solid #dee2e6;
}

.mid {
    display: flex;
    padding: 0;
    justify-content: center;
}

.mid h2 {
    margin: 0;
    padding: 0;
    color: white;
}

.middle {
padding: 3rem 4rem 0 4rem;
}

.middle p {
    color: white;
    font-size: 2rem;
}

.rimg {
    position: absolute;
    width: 18rem;
    left: 0;
    bottom: 0;
}

.eight-section {
    width: 100%;
    margin-left: 0;
    height: 90vh;
    
}

.eight-section h2{
    width: 60%;
    color: white;
    padding: 6rem 6rem 0 6rem;
}


.es {
    position: relative;
    margin-top: 10rem;
    background-color: #7664fe;
    margin-left: 11.5rem;
    height: 25rem;
    width: 80%;
    justify-content: center;
    border-radius: 1rem;
}

.es img {
    position: absolute;
    width: 89rem;
    top: 0;
    right: 2rem;
}

.es button {
    position: absolute;
    right: 8rem;
    top: 6.5rem;
    background-color: white;
    color: black;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.5rem 3rem;
}

.last-section {
    /* background-color: wh; */
    width: 100%;
    margin-left: 0;
    height: auto;
}

.last-section img {
    width: 10rem;
    margin-left: 20rem;
    margin-top: 2rem;
}

.foot h6 {
    font-weight: 600;
}


.foot a {
    display: block;
    margin: 3rem;
    text-decoration: none;
    color: black;
    letter-spacing: 0;
    font-size: 1.4rem;
}



.foot {
    margin-left: 20rem;
    display: flex;
}

footer p {
    margin-left: 14rem;
    font-size: 1.4rem;
}